body {
    margin: 0;
    padding: 0
}

#wrapper {
    width: 80%;
    margin: 0 auto 0 auto
}

.asterisk {
    color: red
}

@media only screen and (max-width: 1000px) {
    body {
        padding: 50px 0 50px 0 !important
    }
    #wrapper {
        width: 95% !important
    }
}